<footer class="main-footer">

  <div class="container clearfix">

  <h3 style="text-align: center;color:"><a href="mailto:soundathleticspierce@gmail.com" style="color:#cf263d">soundathleticspierce@gmail.com </a></h3>

  <div id="footer-nav">
    <ul class="horizontal">
      {{ if isset .Site.Params "footer_menu" }}
      {{ $url := .Permalink }}
      {{ range $item := .Site.Params.footer_menu }}
          {{ $itemUrl := printf "%s/%s/" $item }}
          {{ $itemTitle := title $item }}
          {{ $itemHref := replace $item " " "_"}}
          <li {{ if eq $url $itemUrl }}class="active"{{ end }}><a class="navbar-txt" href="/{{ $itemHref }}">{{ $itemTitle }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>
    <div class="footer-logos">
      <img src="/img/logo_home.png" class="sa">
      <a href="http://www.specialolympicswashington.org/" target="_blank"><img src="/img/sowashington.png" class="sow"/></a>
     </div>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>window.jQuery || document.write('<script src="{{ .Site.BaseURL }}js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="{{ .Site.BaseURL }}js/plugins.js"></script>
{{ with .Site.Params.google_analytics }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script>
  var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{{ end }}
</body>
</html>
