<div class="container clearfix">
    <main role="main" class="content">
        <h1>Welcome to Sound Athletics!</h1>
        <p>
            We are a non-profit Special Olympics team serving the Tacoma/Puyallup area.
            We provide both traditional and unified sports opportunities for Bowling, Basketball and Track.
            Our coaching staff is trained to provide a safe teaching and training environment for our athletes.
            We welcome athletes of all abilities ages 8 and over.
        </p>
        <h2>About</h2>
        <p>
            Sound Athletics was established in the fall of 2002 by Gordie Bowman to fulfill the needs of his son, Tim.
            Tim participated in the World Games in 1999. Gordie was so inspired by the atmosphere at the Games that he
            wanted to provide a program and opportunity to local families. Gordie’s desire was to provide a safe and
            friendly environment for athletes to come together and compete. Sound Athletics now serves over 60 families
            in the Tacoma/Puyallup area.
        </p>
        <h2>Mission</h2>
        <p>
            The mission of Sound Athletics is to provide a fun and safe environment for athletes of all abilities,
            ages 8 and over, to come together and participate in athletic endeavors. 
        </p>
    </main>
    {{ partial "author" . }}
</div>
